[submodule "deep-learning/STAT-6685"]
	path = deep-learning/STAT-6685
	url = git@github.com:KevinMoonLab/STAT-6685.git
[submodule "databases/final_project"]
	path = databases/final_project
	url = git@github.com:seanrcollings/usu-5800-final-project.git
[submodule "cs4600/cs4600-quotes-search"]
	path = cs4600/cs4600-quotes-search
	url = git@github.com:seanrcollings/cs4600-quotes-search
[submodule "cs4600/cs4600-reptile-tracker"]
	path = cs4600/cs4600-reptile-tracker
	url = git@github.com:seanrcollings/cs4600-reptile-tracker
[submodule "cs4600/final"]
	path = cs4600/final
	url = ssh://git@github.com/seanrcollings/usu-cs4600-final.git
